.theme-section {
    display: flex;
    position: absolute;
    right: 0.5em;
    text-align: center;
}

.array-container {
    justify-content: center;
    align-items: center;
    display: flex;
    width: auto;
    height: 350px;
    margin: 1em 1em 0 1em;
    padding: 0 0.5em 0 0.5em;
}

.array-bar {
    margin: 0.2%
}

.Paper {
    margin: 1em;
    height: 21em;
}

.menu-dropdown {
    width: 100%;
    margin-bottom: 1em !important;
}

.menu-button {
    margin: 0 auto 0 auto;
}

.overview-container {
    justify-content: center;
    display: flex;
    text-align: left;
}

.overview-section {
    width: 90%;
    margin: auto;
}

.overview-aside {
    margin: auto;
    text-align: center;
}